:root{
    --bg_light : rgba(119, 190, 119, 0.300);
    --fg_light : rgb(60, 60, 60);
    --bg_dark  : rgb(30, 30, 30);
    --fg_dark  : rgb(230, 230, 230);
    --bg_col   : var(--bg_dark);
    --fg_col   : var(--fg_dark);
}

body{
    height: 100%;
    width: 100%;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    background-color: var(--bg_col,rgb(230, 230, 230)); 
    color: var(--fg_col);
}
